body {
  background-image: url(paisagem.gif);
  background-size: cover;
  top: 10px;
  background-repeat: no-repeat;
}

#title {
  color: white;
  display: flex;
  justify-content: center;
  font-size: 50px;
}

#color-palette div {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 2px;
  border: 1px solid black;

}

#black {
  background-color: black;

}

main {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;

}

#tamanho {
  margin-top: 20px;
  margin-bottom: 20px;
}

#pixel-board {
  align-items: center;
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: center;
  height: 1px;
  width: 280px;
}

#pixel-board div {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 6px;
  border: 1px solid black;
}

#color-palette div:hover {
  cursor: pointer;
}
